# Исключаем каталоги сборки и зависимости
/bin/
/pkg/
/build/

# Исключаем временные файлы IDE и редакторов
.vscode/
.idea/
*.swp
*.swo

# Исключаем файлы конфигурации
.env
config.json

# Исключаем кэшированные файлы Go
*.log
